
*.json
*.json
*.json
*.bin
*.cmake
cmake-build-debug/CMakeFiles/Makefile2
*.marks
*.make
*.ts
*.txt
*.rsp
*.obj
*.obj
*.d
*.a
*.obj

cmake-build-debug/CMakeFiles/Proj2_AED.dir/src/Airline.cpp.obj
cmake-build-debug/Makefile
*.cbp
*.log
*.txt
*.cmake
*.bin
*.exe
*.internal
*.yaml
*.check_cache
*.cpp
*.c
